/**
 * Editor only styles for the Icon Block.
 */

/* Register our variables. */
$r90: rotate(90deg);
$r180: rotate(180deg);
$r270: rotate(270deg);

/* Editor specific styles for the block itself. */
.wp-block-outermost-icon-block {
	display: flex;

	div {
		line-height: 0;
		display: inline-block;
	}

	.wp-block-outermost-icon-placeholder {
		background: none;
		box-shadow: none;
		color: inherit;
		min-height: 0;
		outline: none;
		padding: 0;

		.wp-block-outermost-icon-placeholder__preview {
			svg {
				opacity: .3;
				width: 48px;
				transform: none;
			}
		}

		.wp-block-outermost-icon-placeholder__controls {
			align-items: center;
			background-color: #fff;
			border-radius: 2px;
			box-shadow: inset 0 0 0 1px #1e1e1e;
			display: none;
			flex-direction: row;
			float: left;
			padding: 8px;
			position: relative;
			width: 100%;
			z-index: 1;
		}

		.wp-block-outermost-icon-placeholder__actions {
			display: flex;
		    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		    font-size: 13px;

			.wp-block-outermost-icon-placeholder__actions__indicator {
				display: inline-flex;
				align-items: center;
				margin-left: 6px;
				margin-right: 18px;

				svg {
					width: 24px;
					margin-right: 4px;
					transform: none;
				}
			}

			.components-button {
				margin-bottom: 0;
				margin-right: 16px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&.is-large {
			.wp-block-outermost-icon-placeholder__controls {
				padding: 4px 8px;
			}
		}

		&.is-medium,
		&.is-small {
			.wp-block-outermost-icon-placeholder__actions {
				flex-direction: column;
				gap: 8px;
			}

			.wp-block-outermost-icon-placeholder__actions__indicator {
				display: none;
			}

			.components-button {
				margin-right: auto;
			}
		}
	}

	&.is-selected {
		.wp-block-outermost-icon-placeholder__preview {
			display: none;
		}

		.wp-block-outermost-icon-placeholder__controls {
			display: flex;
		}
	}
}

.wp-block-outermost-icon-inserter__quick-inserter {
	.icons-list {
		margin: -8px;

		.icons-list__item {
			width: 33.33%;
		}
	}

	// Temporary fix until updated in core.
	.block-editor-inserter__no-results {
		margin-top: 0;
	}
}

.wp-block-outermost-icon-inserter__modal {
	height: 70%;
	width: 100%;

	@media ( min-width: 1100px ) {
		width: 80%;
	}

	.components-modal__header {
		margin-bottom: 0;
	}

	.components-modal__content {
		overflow: hidden;
		padding: 0 24px 0 32px;

		&:before {
			margin: 0;
		}
	}

	.icon-inserter__panel {
		display: flex;
		gap: 48px;
		height: calc(100% - 32px);
		margin-top: 32px;
	}

	.icon-inserter__panel-sidebar {
		min-width: 200px;
		width: 200px;
		padding-bottom: 32px;

		.components-search-control {
			margin-bottom: 32px;
		}

		.components-menu-group__label {
			padding: 0;
		}

		.components-menu-item__button {
			&.is-active {
				background: #f0f0f0;
			    box-shadow: none;
			    font-weight: 500;
			}
		}

		.components-menu-item__item {
			text-transform: capitalize;
			display: inline-flex;
			justify-content: space-between;
			width: 100%;

			&>span {
				color: #757575;
			}
		}
	}

	.icon-inserter__panel-content {
		width: 100%;

		.icon-inserter__panel-content-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 48px;
			margin: 0 8px 8px 0;

			.search-results {
				color: #757575;
			}

			.icon-controls__size {
				display: flex;
				align-items: center;
				margin-right: 6px;

				&>span {
					margin-bottom: 6px;
					margin-right: 16px;
				}

				.components-range-control {
					width: 72px;

					.components-base-control__field {
						margin-bottom: 0;
					}
				}
			}
		}
		.icon-inserter__panel-content-grid {
			height: calc(100% - 58px);
			overflow: scroll;
			padding-right: 8px;
		}
		.icons-list {
		    padding: 4px 4px 72px 4px;
			margin: 0;
		    display: grid;
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

			@media ( min-width: 900px ) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
			}

			@media ( min-width: 1100px ) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
			}

			@media ( min-width: 1450px ) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
			}

			@media ( min-width: 1600px ) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
			}

			.icons-list__item {
				&.is-active {
					background-color: var(--wp-admin-theme-color);
					color: rgb(255 255 255 / 80%);

					&:hover {
						color: #fff !important;
					}

					svg {
						fill: #fff;
					}
				}
			}
		}

		.block-editor-inserter__no-results {
			height: calc(100% - 56px);
		    margin-top: 0;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;

			svg {
				margin: 0 auto;
			}
		}
	}
}

.wp-block-outermost-icon-custom-inserter__modal {
	height: 70%;
	width: 100%;

	@media ( min-width: 1100px ) {
		width: 80%;
	}

	.components-modal__header {
		margin-bottom: 0;
	}

	.components-modal__content {
		overflow: hidden;
		padding: 0 32px 32px;

		&:before {
			margin: 0;
		}
	}

	.icon-custom-inserter__panel {
		display: flex;
		justify-content: space-between;
		gap: 64px;
		height: 100%;
		margin-top: 32px;
	}

	.icon-custom-inserter__panel-content {
		width: 100%;
		height: 100%;

		.components-base-control,
		.components-base-control__field,
		.components-textarea-control__input {
			height: 100%
		}
	}

	.icon-custom-inserter__panel-sidebar {
		width: 400px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		.icon-preview__window {
			border: 1px solid #ddd;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			min-height: 300px;

			&.is-default {
				svg {
					opacity: .3;
				}
			}

			svg {
				max-width: 100%;
			}
		}

		.icon-controls {
			display: flex;
		    justify-content: center;
		    padding: 10px 20px;
		}

		.icon-controls__size {
			display: flex;
			align-items: center;

			&>span {
				margin-bottom: 6px;
				margin-right: 16px;
			}

			.components-range-control {
				width: 90px;

				.components-base-control__field {
					margin-bottom: 0;
				}
			}
		}

		.components-notice {
			margin: 24px 0;

			// Needed to fix color error in Notice component
			&.is-error {
				background-color: #f8ebea;
			}
		}

		.icon-insert-buttons {
			display: flex;
			justify-content: space-between;
		}
	}
}

/* Custom styles for the block's toolbar controls. */
.block-editor-block-toolbar {
	.outermost-icon-block__rotate-button-90 {
		svg {
			transform: $r90;
		}
	}

	.outermost-icon-block__rotate-button-180 {
		svg {
			transform: $r180;
		}
	}

	.outermost-icon-block__rotate-button-270 {
		svg {
			transform: $r270;
		}
	}
}

/* Custom styles for the block's inspector controls. */
.block-editor-block-inspector {
	.outermost-icon-block__icon-settings {
		.components-range-control {
			margin-bottom: 12px;
		}
		.components-button-group {
			margin-bottom: 12px;
		}
		.components-notice {
			margin: 0 0 24px 0;

			// Needed to fix color error in Notice component
			&.is-error {
				background-color: #f8ebea;
			}
		}

		&-button {
			margin-top: 4px;
			margin-bottom: 24px;
		}

		&-help {
			font-size: 12px;
			font-style: normal;
			color: rgb(117, 117, 117);
			margin-top: -6px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.icons-list {
	display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    overflow: hidden;
    padding: 4px;

	.icons-list__item {
		align-items: stretch;
		background: transparent;
		border: 1px solid transparent;
		border-radius: 2px;
		color: #1e1e1e;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-size: 13px;
		height: auto;
		justify-content: center;
    	padding: 12px;
		position: relative;
		transition: all .05s ease-in-out;
		word-break: break-word;

		&:hover {
			border-color: var(--wp-admin-theme-color);
    		color: var(--wp-admin-theme-color)!important;
		}

		.icons-list__item-icon {
			border-radius: 2px;
			color: #1e1e1e;
			padding: 12px;
			transition: all .05s ease-in-out;
		}

		.icons-list__item-title {
			font-size: 12px;
			padding: 4px 2px 8px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

/* Temporary styling until the SearchControl component is included in WP core. */
.components-search-control {
	position: relative;

	input[type="search"].components-search-control__input {
		background: #f0f0f0;
	    border: none;
	    border-radius: 2px;
	    box-shadow: 0 0 0 transparent;
	    display: block;
	    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	    font-size: 16px;
	    height: 48px;
	    line-height: normal;
	    padding: 16px 48px 16px 16px;
	    transition: box-shadow .1s linear;
	    width: 100%;

		/* Fonts smaller than 16px causes mobile safari to zoom. */
		@media ( min-width: 600px ) {
			font-size: 13px;
		}

		&:focus {
			background: #fff;
			box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
		}

		&::placeholder {
			color: rgba(30,30,30,.62);
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			-webkit-appearance: none;
		}
	}
}

.components-search-control__icon {
	align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
    right: 12px;
    top: 0;

	> button {
		margin-right: -10px;
	}
	> svg {
		margin: 8px 0;
	}
}

.components-search-control__input-wrapper {
	position: relative;
}
