/**
 * Editor and frontend styles for the Icon Block.
 */

/* Icon Block styles. */
.wp-block-outermost-icon-block {
	display: flex;
 	line-height: 0;

    // Unset border styling inherited from block props.
    &.has-border-color {
        border: none;
    }

	&.has-icon-color,
	.has-icon-color {
		svg {
			color: currentColor;
		}

		&:not(.has-no-icon-fill-color) {
			svg {
				fill: currentColor;
			}
		}
	}

    // box-sizing is set in the Editor but not on the frontend.
    .icon-container {
        box-sizing: border-box;
    }

	a,
	svg {
		width: 100%;
		height: 100%;
		transition: transform 0.1s ease-in-out;
	}

    /* Added for a11y. In-block hover/focus controls will be added in future releases. */
    a:hover {
        transform: scale(1.1);
    }

	svg {
		transform: rotate(var(--outermost--icon-transform-rotate, 0deg)) scaleX(var(--outermost--icon-transform-scale-x, 1)) scaleY(var(--outermost--icon-transform-scale-y, 1));
	}

	&.rotate-90,
	.rotate-90 {
		--outermost--icon-transform-rotate: 90deg;
	}

	&.rotate-180,
	.rotate-180 {
		--outermost--icon-transform-rotate: 180deg;
	}

	&.rotate-270,
	.rotate-270 {
		--outermost--icon-transform-rotate: 270deg;
	}

	&.flip-horizontal,
	.flip-horizontal {
		--outermost--icon-transform-scale-x: -1;
	}

	&.flip-vertical,
	.flip-vertical {
		--outermost--icon-transform-scale-y: -1;
	}

	&.flip-vertical.flip-horizontal,
	.flip-vertical.flip-horizontal {
		--outermost--icon-transform-scale-x: -1;
		--outermost--icon-transform-scale-y: -1;
	}
 }
